@using CC.MODELS
@using CC.WEB.Infrastructure.Helpers

@model CC.WEB.ViewModels.ShopViewModel

@{
    ViewBag.Title = "Магазин";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Магазин
                <small>@Html.GetSubtitles(UiElement.Aliass.Shop)</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">Магазин</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Каталог</h2>
            <div class="list-group">
                @foreach (var item in Model.Categories) {
                    <a href="@Url.Action("Index", routeValues: new {category = item.UrlAlias})" class="list-group-item @(item.UrlAlias == Model.Category ? "active" : "")">@item.Title</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.Products != null && Model.Products.Any()) {
                    foreach (var product in Model.Products) {
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">@product.SellingPrice.ToString("#р")</h4>
                                    <h4><a href="@Url.Action("Details", new {category = Model.Category, product = product.UrlAlias})">@product.Title</a></h4>
                                    @Html.Raw(product.ShortDescription)
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">@(product.GetReviews().Count()) отзывов</p>
                                    @product.GetStars()
                                </div>
                            </div>
                        </div>
                    }
                }
                    
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h4>
                        <a href="#">Не нашли товар?</a>
                    </h4>
                    <p>Вы можете написать нам об этом товаре и скорей всего он появится у нас уже на следующей неделе.</p>
                    <a class="btn btn-primary" target="_blank" href="@Url.Action("Order", "Callback", routeValues: new {area = ""})">Написать нам</a>
                </div>
            </div>
        </div>
    </div>
</div>