@using CC.MODELS
@using CC.WEB.Infrastructure.Helpers
@model CC.WEB.Areas.Admin.ViewModels.Subtitles.SubtitlesIndexModel

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Title
                <small>
                    @Html.GetSubtitles(UiElement.Aliass.AdminShop)
                </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">@Model.Title</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-default" href="@Url.Action("Create")">Создать</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Alias</th>
                        <th>Значение</th>
                        <th>Показывается</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UiElements.Any()) {
                        foreach (var item in Model.UiElements) {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", routeValues: new {id = item.UiElementId})">@item.UiElementId</a>
                                </td>
                                <td>
                                    @{
                                        var alias = (UiElement.Aliass)item.Alias;
                                    }
                                    @Html.DisplayFor(a => alias)</td>
                                <td>@item.Value</td>
                                <td>@item.Show</td>
                            </tr>
                        }
                    } else {
                        <tr>
                            <td>Данных не найдено...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>